*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container {
    width: 60%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}